{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.java"],
      "options": {
        "printWidth": 140,
        "tabWidth": 4,
        "useTabs": false,
        "trailingComma": "none"
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "mdx"
      }
    },
    {
      "files": ["**/*.css", "**/*.scss"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}
